.block_info_profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.block_info_profile_elem {
    width: 12em;
    height: 3em;
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(34, 60, 80, 0.18);
    -moz-box-shadow: 0px 0px 6px 2px rgba(34, 60, 80, 0.18);
    box-shadow: 0px 0px 6px 2px rgba(34, 60, 80, 0.18);
}

.tablle_current {
    display: flex;
    align-items: center;
}

.block_profile_api{
    text-align: end;
    border-top: 1px solid;
    padding-top: 8px;
    margin-top: 8px;
}

.form-control-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 25px;
}
.form-control-custom {

}


/*btn customs*/
.btn-custom-blue {
    background-color: #0d6efd;
}

.btn-custom-mi_black {
    background-color: #6c757d;
}
/*---*/

.input-file {
    position: relative;
    display: inline-block;
}
.input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #419152;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}
.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Focus */
.input-file input[type=file]:focus + span {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/active */
.input-file:hover span {
    background-color: #59be6e;
}
.input-file:active span {
    background-color: #2E703A;
}

/* Disabled */
.input-file input[type=file]:disabled + span {
    background-color: #eee;
}

.block_center_upload {
    display: flex;
    flex-direction: column;
    align-items: center;
}
